* {
    margin: 0;
    padding: 0;
    /* scrollbar-width: none; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background-color: #f4f0e0;
    display: block;
    justify-content: center;
}

main {
    /* border: solid red 1px; */
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20vh;
    width: 80%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
}

section {
    margin-bottom: 3rem;
}

/* Estilização dos títulos gerais */
section h1, 
section h2 {
    color: #281767;
    display: inline-block;
    border-bottom: solid 8px #ffaa00;
}

section h1 {
    font-size: 28px;
}
main p {
    width: 65%;
    text-align: justify;
}

/* SEÇÃO #joinOnTeam */
#joinOnTeam {
    /* border: solid red 1px; */
    padding-top: 6vh;
    gap: 3vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#joinOnTeam img {
    width: 40%;
    height: auto;
}

#joinOnTeam div {
    width: 55%;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
}

/* ajustando h1 e h2 para evitar a borda/sublinhado estendido */
#joinOnTeam h1,
#joinOnTeam h2 {
    /* border: solid red 1px; */
    border-bottom: none;
    width: 100%;
    display: flex;
}

#joinOnTeam h1 span,
#joinOnTeam h2 span {
    display: table;
    border-bottom: solid 8px #ffaa00;
}

#joinOnTeam p {
    width: 100%;
    text-align: justify;
}
.img-banner-presentention{
    border-radius: 10px; 
    box-shadow: outset 5px 10px 14px rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
    * {
        scrollbar-width: none;
    }
    body{
        overflow-x: hidden;
    }
    main{
        margin-top: 15vh;
    }
    main p{
        width: 100%;
    }
    #joinOnTeam div{
        text-align: center;
        width: 100%;
    }
    #joinOnTeam h1{
        width: 100%;
        /* border: solid red 1px; */
        display: flex;
        justify-content: center;
    }
    #joinOnTeam img{
        width: 100%;
    }
    section{
        margin-bottom: 0.5rem;
    }
    section h1{
        text-align: center;
        font-size: 24px;
    }
    .img-banner-presentention{
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
    }
}