* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background-color: #fffff0;
    display: block;
    justify-content: center;
}

main {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20vh;
    width: 80%;
    height: auto;
    /* border: solid red 1px; */
    /* padding-bottom: 5rem; */
    display: block;
}

section {
    margin-bottom: 3rem;
}

/* Estilização dos títulos gerais */
section h1, 
section h2 {
    color: #281767;
    display: inline-block;
    border-bottom: solid 8px #ffaa00;
}

section h1 {
    font-size: 2rem !important;
}
main p {
    width: 65%;
    text-align: justify;
}

/* SEÇÃO #joinOnTeam */
#joinOnTeam {
    padding-top: 6vh;
    gap: 3vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem em telas menores */
}

#joinOnTeam img {
    width: 40%;
    height: auto;
}

#joinOnTeam div {
    flex: 1;
    min-width: 300px; /* Garante que o texto não fique espremido */
    display: flex;
    flex-direction: column;
}

/* Ajustando h1 e h2 para evitar a borda estendida */
#joinOnTeam h1,
#joinOnTeam h2 {
    border-bottom: none; /* Remove a borda direta no título */
}

#joinOnTeam h1 span,
#joinOnTeam h2 span {
    display: table; /* Faz com que o tamanho do span seja do tamanho do texto */
    border-bottom: solid 8px #ffaa00; /* Aplica a borda apenas no texto */
}

#joinOnTeam p {
    width: 100%;
    text-align: justify;
}


@media (max-width: 600px) {
    main{
        margin-top: 15vh;
    }
    main p{
        width: 100%;
    }
    #joinOnTeam img{
        width: 100%;
    }
    section{
        margin-bottom: 0.5rem;
    }
    section h1{
        text-align: center;
    }
}